
@{
    ViewBag.Title = "AddLike";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>AddLike</h2>
<body>

    <p>Click on the icon to toggle between thumbs-up and thumbs-down (like/dislike):</p>

    <i  class="fa fa-thumbs-up"></i>

    <script>
        function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
        }
    </script>

</body>
